body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}
/* navigation */
section {  
    padding: 0 10%;
    padding-top: 10%;
    color: rgb(12, 24, 133);
    height: 100vh;
    text-align: justify;
}
.sub-content{
    padding-left: 35%;
    margin: 40px 0 20px;
}
.card-body{
    margin-bottom: 40px;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.navbar {
    width: 100%;
    position: fixed;
    background-color: #190933;
    color: #ffffff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.navbar-brand {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
}
.navbar-brand img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.user-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wrapper {
    display: flex;
    height: 100vh;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    padding-top: 60px;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.sidebar a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    background-color: #007bff;
}
.content {
    flex: 1;
    padding: 20px;
}
@media screen and (max-width: 768px) {
    .wrapper {
        flex-direction: column;
    }
    .sidebar {
        width: 100%;
        position: fixed;
        left: -100%;
        transition: 0.3s;
    }
    .content {
        margin-left: 0;
    }
}
.menu-btn {
    font-size: 24px;
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 15px;
    z-index: 2;
    display: none;
}
.menu-btn:hover {
    color: #f0f0f0;
}
@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
    }
}